.header-whapper {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.form-wrapper {
  margin: 0 auto;
  width: 80%;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-content {
  padding-top: 20px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outline-btn {
  float: left;
  height: 40px;
  padding: 0 16px;
  min-width: 64px;
  width: 100%;
  line-height: 36px;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: solid 1px #333333;
  border-radius: 6px;
  transition: all 250ms;
  margin: 12px 0;
  text-transform: uppercase;
  user-select: none;
  background: rgba(0, 0, 0, 0);
}
.outline-btn:hover {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12),
    0 6px 10px rgba(0, 0, 0, 0.14);
}
.outline-btn:hover:disabled {
  color: rgba(86, 86, 86, 0.87) !important;
  border: 1px dashed rgba(0, 0, 0, 0.2) !important;
  background: rgba(0, 0, 0, 0.12) !important;
  box-shadow: none !important;
  cursor: default;
}
.outline-btn:disabled {
  color: rgba(86, 86, 86, 0.87) !important;
  background: rgba(0, 0, 0, 0.12) !important;
  border: 1px dashed rgba(0, 0, 0, 0.2) !important;
}

.btn-color-green {
  border: solid 1px #4bc89b !important;
  color: #49b488;
}
.btn-color-green:hover {
  background-color: #4bc89b !important;
  color: #ffffff !important;
  box-shadow: 0px 0px 4px #4bc89b !important;
}
.btn-color-green:active {
  border: solid 1px #43aa81 !important;
  background-color: #43aa81 !important;
  box-shadow: 0px 0px 8px #43aa81 !important;
}

.input-field {
  float: left;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 6px;
  padding: 7px 15px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  transition: 300ms;
}
.input-field:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.5);
}
.input-field:hover:disabled {
  border: 1px dashed rgba(0, 0, 0, 0.2) !important;
  box-shadow: none !important;
}
.input-field:focus {
  border: 1px solid #4885ff;
  background: rgba(255, 255, 255, 0.5);
}
.input-field:disabled {
  border: 1px dashed rgba(0, 0, 0, 0.2) !important;
  background: rgba(0, 0, 0, 0.12);
}

.input-error-message,
.input-message {
  position: relative;
  margin: 8px 0 0 15px;
  line-height: 12px;
  height: 12px;
  float: left;
  width: calc(100% - 15px);
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", sans-serif;
}

.input-field {
  width: 100%;
  height: 40px;
  font-size: 16px;
}

.input-container {
  margin: 16px 8px 8px 8px;
  width: calc(100% - 16px);
  position: relative;
  float: left;
}
.input-container .input-label {
  position: absolute;
  line-height: 40px;
  transform: translate(16px, 0px) scale(1);
  color: rgba(0, 0, 0, 0.7);
}
.input-container .has-content {
  animation: enter-content 100ms ease-in;
  transform: translate(-2px, -11px) scale(0.75);
  background-color: #fbfbfb;
  z-index: 10;
  height: 20px;
  line-height: 20px !important;
}

.input-message {
  color: rgba(0, 0, 0, 0.54);
}

.input-error-message {
  color: rgba(227, 39, 64, 0.9);
}

.input-error {
  border: 1px solid #e33435 !important;
}

@keyframes enter-content {
  from {
    transform: translate(16px, 10px) scale(1);
  }
  to {
    transform: translate(-2px, -11px) scale(0.75);
  }
}
@keyframes ext-content {
  from {
    transform: translate(-2px, -11px) scale(0.75);
  }
  to {
    transform: translate(16px, 10px) scale(1);
  }
}
