.header-whapper {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.form-wrapper {
  margin: 0 auto;
  width: 80%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
}

.form-content {
  padding-top: 20px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-input-wrapper {
  display: flex;
  align-items: center;
  margin: 5px 0;
  height: 40px;
}

.custom-input-label {
  margin: 0 10px;
}

.custom-input {
  height: 25px;
  font-size: 20px;
}

.btn-submit {
  border: solid 1px #12bdba;
  color: #12bdba;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 3px;
  transition: 0.3s;
  width: 200px;
}

.btn-submit:hover {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #12bdba;
}

.btn-submit:active {
  background-color: #28807e;
}
